html {
    height: 100%;
}

body {
    background-image: url("https://wallpaperset.com/w/full/6/c/4/500591.jpg");
    min-height: 100vh;
    position: relative;
}

.navbar-brand {
    border-bottom: 3px dotted whitesmoke;
    border-top: 3px dotted whitesmoke;
    color: black;
}

.navbar-toggler {
    border-color: white;
}

.navbar-toggler-icon { 
    background-image: url( 
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(225,225,225)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar {
    background: pink;
}

a {
    font-family: 'Rock Salt', cursive;
    color: white;
}

a:hover {
    color: #cccccc;
}

.contact {
    width: 1024px;
    background: whitesmoke;
    margin: 75px 40px;
    padding-left: 30px;
    padding-right: 30px;
    border: 5px ridge pink;
}

h1 {
    font-family: 'Patrick Hand SC', cursive;
    padding-top: 20px;
    padding-left: 10px;
}

.form {
    font-family: 'Patrick Hand', cursive;
    letter-spacing: 1px;
}

button {
    margin-bottom: 20px;
}

.social {
    padding: 0;
    float: right;
}

.fa {
    padding: 8px;
    font-size: 25px;
    width: 40px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin-left: 10px;
    float: right;
}

.fa-facebook {
    background: #3B5998;
    color: white;
    margin-bottom: 10px;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-phone {
    background: rgb(100, 131, 69);
    color: white;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: pink;
    text-align: center;
    padding: 10px;
    border-top: 10px double whitesmoke;
    font-family: 'Rock Salt', cursive;
    color: #eee;
}

@media screen and (max-width:400px) {
    .contact {
        margin: 10px auto 0 auto;
    }
    h1 {
        font-size: 20px;
    }
    label, ::placeholder {
        font-size: 13px;
    }
    .btn {
        font-size: 10px;
    }
}